.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3.125rem;
  color: $color-black;
  margin-bottom: 1.6rem;
  text-transform: capitalize;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: $color-black;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.875rem;
  color: $color-black;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: $color-black;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: $color-black;
  margin-bottom: 1rem;
}

.test-bg {
  background-color: $color-grey-3;
  padding: 3rem;
  height: 1000px;
}
