{
    "overrides": [
        {
            "files": "*.njk",
            "options": {
                "parser": "html",
                "htmlWhitespaceSensitivity": "ignore",
                "printWidth": 120
            }
        }
    ]
}