// COLORS
$color-white: #fff;
$color-grey-1: #e0e3eb;
$color-grey-2: #888b97;
$color-grey-3: #626687;

$color-primary: #10b981;
$color-primary-dark: #0b9567;
$color-primary-light: #d1fae5;
$color-secondary: #f59e0b;
$color-black: #1b1c57;

$color-danger: #ef4444;
$color-danger-light: #fee2e2;
$color-info: #1d4ed8;
$color-info-light: #dbeafe;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
