<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Put your description here.">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="out">
      {% include "partials/header.njk" %}

      <main>
        {% block content %}{% endblock %}
      </main>

      {% include "partials/footer.njk" %}
    </div>
    
    {% include "partials/cookies.njk" %}
    {% include "partials/svg-sprite.njk" %}

    <script type="module" src="/src/main.js"></script>
  </body>
</html>
