<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300..900&display=swap"
      rel="stylesheet"
    />
    <title>GD Landing</title>
  </head>
  <body>
    <!-- header -->
    {% include "partials/header.njk" %}
    <!-- hero -->
    {% include "partials/hero.njk" %}
    <!-- recomendations -->
    {% include "partials/recomendations.njk" %}
    <!-- tour -->
    {% include "partials/tour.njk" %}
    <!-- testimonial -->
    {% include "partials/testimonial.njk" %}
    <!-- find-more -->
    {% include "partials/find-more.njk" %}
    <!-- subscribe -->
    {% include "partials/subscribe.njk" %}
    <!-- contact-us -->
    {% include "partials/contact-us.njk" %}
    <!-- footer -->
    {% include "partials/footer.njk" %}
    <!-- cookies -->
    {% include "partials/cookies.njk" %}
    <!-- modal -->
    {% include "partials/modal.njk" %}
    <!-- svg -->
    {% include "partials/svg-sprite.njk" %}

    <script type="module" src="/src/main.js"></script>
  </body>
</html>
