{% extends "base.njk" %}

{% block title %}GD Landing{% endblock %}

{% block content %}
  {% include "partials/hero.njk" %}
  {% include "partials/recomendations.njk" %}
  {% include "partials/tour.njk" %}
  {% include "partials/testimonial.njk" %}
  {% include "partials/find-more.njk" %}
  {% include "partials/subscribe.njk" %}
  {% include "partials/contact-us.njk" %}
  {% include "partials/modal.njk" %}
{% endblock %}
