<!-- <div class="cookies">
  <svg class="cookies__icon"><use href="#cookies-icon" /></svg>
  <span>We are using cookies</span>
  <button class="cookies__button">
    <svg><use href="#button-cookies-close" /></svg>
  </button>
</div> -->
