<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__logo">
        <svg><use href="#logo" /></svg>
      </div>
      <p>
        We provide information about properties such as houses, villas and apartments to help people find their dream
        home
      </p>
      <div class="footer__socials">
        {% for social in socials %}
        <a href="{{ social.href }}" class="footer__icon">
          <svg><use href="#icon-{{ social.icon }}" /></svg>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="footer__info">
      <nav class="footer__nav">
        <h4>Property</h4>
        {% set list1 = [ "House", "Apartment", "Villa" ] %}
        {% set list2 = [ "New Article", "Popular Article", "Most Read", "Tips &amp; Tricks" ] %}
        <ul class="footer__list">
          {% for item in list1 %}
          <li class="footer__item">
            <a href="#" class="footer__link">{{ item | safe }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="footer__nav">
        <h4>Article</h4>
        <ul class="footer__list">
          {% for item in list2 %}
          <li class="footer__item">
            <a href="#" class="footer__link">{{ item | safe }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="footer__nav">
        <h4>Contact</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">2464 Royal Ln. Mesa, New Jersey 45463</a>
          </li>
          <li class="footer__item">
            <a href="tel=6715550110" class="footer__link">(671) 555-0110</a>
          </li>
          <li class="footer__item">
            <a href="mailto=info@hounter.com" class="footer__link">info@hounter.com</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
