<header class="header">
  <div class="container">
    <button class="burger" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header__logo">
      <svg class="header__logo-icon">
        <use href="#logo" />
      </svg>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link button-white">About us</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link button-white">Article</a>
        </li>
        <li class="header__nav-item">
          <div class="dropdown">
            <button class="dropdown-toggle button-white">
              <span>Property</span>
              <svg>
                <use href="#button-white-bottom-icon" />
              </svg>
            </button>
            <ul class="dropdown-menu">
              <li data-value="1">HTML</li>
              <li data-value="2">CSS</li>
              <li data-value="3">JavaScript</li>
              <li data-value="4">React</li>
            </ul>
          </div>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link button-outline">Sign Up</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
