<div class="modal micromodal-slide" id="modal-media" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true">
      <button
        class="modal__close"
        aria-label="Close modal"
        data-micromodal-close
      >
        <svg><use href="#button-cookies-close" /></svg>
      </button>
      <main class="modal__content">
        <div id="modal-media-wrapper"></div>
      </main>
    </div>
  </div>
</div>
