<section class="testimonial">
  <h2>What Our User Say About Us</h2>
  <div id="testimonial-slider" class="splide">
    <div class="splide__track">
      <ul class="testimonial-carousel splide__list">
        <li class="testimonial-carousel__cell splide__slide">
          <div class="testimonial-carousel__out">
            <img
              class="testimonial-carousel__image"
              src="./src/img/testimonial-1.jpg"
              alt="testimonial"
            />
            <blockquote class="testimonial-carousel__item">
              <h4>Best! I got the house I wanted through Hounter</h4>
              <p>
                Through this website I can get a house with the type and
                specifications I want very easily, without a complicated process
                to be able to find information on the house we want.
              </p>
              <footer class="author author--advanced">
                <img
                  src="./src/img/avatar-1.png"
                  alt="Avatar"
                  class="author__photo"
                />
                <h6 class="author__name">jenny wilson</h6>
                <p class="author__location">manager director</p>
                <div class="author__rating">
                  <svg><use href="#icon-rating" /></svg>
                  <span class="author__value">4.6</span>
                </div>
              </footer>
            </blockquote>
          </div>
        </li>
        <!-- 2 -->
        <li class="testimonial-carousel__cell splide__slide">
          <div class="testimonial-carousel__out">
            <img
              class="testimonial-carousel__image"
              src="./src/img/testimonial-2.jpg"
              alt="testimonial"
            />
            <blockquote class="testimonial-carousel__item">
              <h4>Through the Hounter, I can get a house for my self</h4>
              <p>
                By looking for information about what kind of house we want, we
                managed to get the house we wanted very quickly, and directly
                connected with the seller to be able to ask about the details,
                very helpful!
              </p>
              <footer class="author author--advanced">
                <img
                  src="./src/img/avatar-2.png"
                  alt="Avatar"
                  class="author__photo"
                />
                <h6 class="author__name">ronald richards</h6>
                <p class="author__location">head of marketing</p>
                <div class="author__rating">
                  <svg><use href="#icon-rating" /></svg>
                  <span class="author__value">4.6</span>
                </div>
              </footer>
            </blockquote>
          </div>
        </li>
        <!-- 3 -->
        <li class="testimonial-carousel__cell splide__slide">
          <div class="testimonial-carousel__out">
            <img
              class="testimonial-carousel__image"
              src="./src/img/testimonial-3.jpg"
              alt="testimonial"
            />
            <blockquote class="testimonial-carousel__item">
              <h4>My house sold out fast!</h4>
              <p>
                I was finally able to sell my house quickly through Hounter by
                immediately setting me up with people who wanted my house. I
                also do not get a discount from the sale of my house. Awesome!
              </p>
              <footer class="author author--advanced">
                <img
                  src="./src/img/avatar-3.png"
                  alt="Avatar"
                  class="author__photo"
                />
                <h6 class="author__name">dianne russell</h6>
                <p class="author__location">manchester, kentucky</p>
                <div class="author__rating">
                  <svg><use href="#icon-rating" /></svg>
                  <span class="author__value">4.6</span>
                </div>
              </footer>
            </blockquote>
          </div>
        </li>
        <!-- 1 -->
        <li class="testimonial-carousel__cell splide__slide">
          <div class="testimonial-carousel__out">
            <img
              class="testimonial-carousel__image"
              src="./src/img/testimonial-1.jpg"
              alt="testimonial"
            />
            <blockquote class="testimonial-carousel__item">
              <h4>Best! I got the house I wanted through Hounter</h4>
              <p>
                Through this website I can get a house with the type and
                specifications I want very easily, without a complicated process
                to be able to find information on the house we want.
              </p>
              <footer class="author author--advanced">
                <img
                  src="./src/img/avatar-1.png"
                  alt="Avatar"
                  class="author__photo"
                />
                <h6 class="author__name">jenny wilson</h6>
                <p class="author__location">manager director</p>
                <div class="author__rating">
                  <svg><use href="#icon-rating" /></svg>
                  <span class="author__value">4.6</span>
                </div>
              </footer>
            </blockquote>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
