@mixin button {
  padding: 0.75rem 1.751rem;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  svg {
    fill: currentColor;
    width: 1rem;
    height: 0.875rem;
  }
}

@mixin button-icon {
  border-radius: 50%;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;

  svg {
    fill: currentColor;
    width: 1rem;
    height: 0.875rem;
  }
}

.button-filled {
  @include button;

  background-color: $color-primary;
  color: $color-white;
  border: 0;

  &:hover {
    background-color: $color-primary-dark;
  }
}

.button-outline {
  @include button;

  background-color: $color-white;
  color: $color-primary;
  border: 1px solid $color-primary;
  padding: 0.6875rem 1.751rem;

  &:hover {
    background-color: $color-primary-light;
  }
}

.button-filled-icon {
  @include button;

  background-color: $color-primary;
  color: $color-white;
  border: 0;
  display: inline-flex;
  align-items: center;

  &:hover {
    background-color: $color-primary-dark;
  }

  &:active {
    background-color: $color-primary-light;
    color: $color-primary;
  }

  &--right svg {
    margin-left: 1.5rem;
  }

  &--left svg {
    margin-right: 1.5rem;
  }
}

.button-filled-next {
  @include button-icon;

  background-color: $color-primary;
  color: $color-white;
  border: 0;

  &:hover {
    background-color: $color-primary-dark;
  }
}

.button-outline-next {
  @include button-icon;

  background-color: $color-white;
  border: 1px solid $color-primary;
  color: $color-primary;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.button-outline-prev {
  @extend .button-outline-next;
}

.button-white {
  @include button;

  border: 1px solid $color-white;
  color: $color-white;
  padding: 0.25rem 1.058rem;
  background-color: rgba($color-white, 0.1);

  svg {
    fill: currentColor;
    width: 0.8rem;
    height: 0.6rem;
    margin-left: 0.5rem;
    transition: all 0.2s ease;
  }

  &:hover {
    background-color: rgba($color-white, 0.2);
  }
}
