.label {
  border-radius: $border-radius * 2;
  display: inline-flex;
  align-items: center;
  padding: 0.319rem 1rem;

  &__icon {
    width: 0.75rem;
    height: 0.875rem;
    fill: currentColor;
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 500;
    margin-left: 0.5rem;
  }

  &--danger {
    background-color: $color-danger-light;
    color: $color-danger;
  }
  &--info {
    background-color: $color-info-light;
    color: $color-info;
  }
  &--success {
    background-color: $color-primary-light;
    color: $color-primary-dark;
  }
}
