.choices {
  &.is-open {
    .choices__inner {
      border-radius: 28px;
    }
  }
  &__inner {
    border-color: $color-grey-1;
    background-color: $color-white;
    border-radius: 28px;
    min-height: 3.5rem;
    line-height: 2.4375rem;
    padding: 0.45rem 1.1rem;
  }

  &__item--selectable {
    opacity: 1;
    color: $color-grey-2;
    font:
      500 0.875rem/1.5 "Lexend",
      sans-serif;
  }

  &__list {
    padding: 0.3rem;
  }

  &__item--choice {
    color: $color-black;
    border-radius: 28px;
  }

  &__list--dropdown,
  &__list[aria-expanded] {
    border-radius: 28px;
  }

  &__list--dropdown &__item--selectable.is-highlighted,
  &__list[aria-expanded] &__item--selectable.is-highlighted {
    background-color: $color-primary-light;
  }

  &[data-type*="select-one"] {
    &::after {
      border: 0;
      background-image: url("../img/select-down.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 0.875rem;
      height: 0.5rem;
      right: 1.75rem;
    }

    &.is-open:after {
      margin-top: -0.1875rem;
      transform: scale(-1);
    }
  }
}
