.contact-us {
  margin-bottom: 4rem;

  .container {
    display: flex;
  }

  &__content {
    margin-right: 2rem;
    max-width: 29.875rem;
    text-align: center;

    p {
      color: $color-grey-3;
      position: relative;

      &:not(:nth-last-of-type(1)) {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;

        &::after {
          content: "";
          background-color: $color-primary;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 40px;
          height: 2px;
          display: block;
          margin: 0 auto;
          border-radius: 4px;
        }
      }
    }

    img {
      height: 178px;
      margin-top: 3rem;
    }
  }

  &__area {
    background-color: $color-white;
    padding: 2rem;
    width: 100%;
    box-shadow: 0 8px 32px rgba(12, 21, 44, 0.09);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;

    &--message {
      align-items: flex-start;
    }
  }

  &__col {
    flex-grow: 1;
    position: relative;

    &:first-child {
      max-width: 106px;
      width: 100%;
    }
  }

  &__label {
    font-size: 0.875rem;
    font-weight: 500;
  }
}
