.featured {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.find-more {
  margin-bottom: 6rem;

  h2 {
    text-align: center;
    max-width: 36.25rem;
    margin: 0 auto 1rem;
  }

  &__content {
    display: flex;
    margin-top: 2.9rem;

    .author {
      margin-top: 0.6rem;
      margin-bottom: 0.7rem;

      &__photo {
        width: 32px;
        height: 32px;
      }

      &__name {
        font-size: 0.875rem;
        color: #3c4563;
        font-weight: 400;
      }
    }
  }

  &__button {
    margin: 0 auto;
    display: flex;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  list-style: none;

  &__item {
    display: flex;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      .articles {
        &__image:before {
          opacity: 1;
        }

        &__title {
          opacity: 0.75;
        }
      }
    }
  }

  &__title {
    transition: color 0.2s ease;
  }

  &__image {
    margin-right: 2rem;
    flex: none;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      background-color: rgba(255, 255, 255, 0.35);
      opacity: 0;
      transition: all 0.2s ease;
    }
  }

  &__img {
    width: 100%;
    max-width: 12.5rem;
    height: 9.25rem;
    border-radius: 16px;
    display: block;
  }

  &__footer {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 1rem;
    }
  }

  &__meta {
    color: $color-grey-2;
    font-weight: 400;
    font-size: 0.875rem;
  }

  &__content {
    font-weight: 300;
    color: $color-grey-3;
  }

  .author {
    display: flex;
  }
}

.featured-article {
  @extend .articles;

  max-width: 36.25rem;
  margin-left: 1.9rem;
  flex: none;

  .articles {
    &__image {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }

    &__title {
      text-transform: capitalize;
    }

    &__img {
      max-width: 100%;
      height: 17.5rem;
    }

    &__description {
      margin-bottom: 0.9rem;
    }
  }
}
