.tour {
  margin-bottom: 5rem;
  position: relative;

  &__bg-img {
    position: absolute;
    top: -80%;
    right: 0;
    width: 50%;
    height: 50.125rem;
    z-index: -1;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 30.25rem;

    @include respond(phone) {
      max-width: 100%;
    }

    p {
      color: $color-grey-2;
      font-weight: 300;
      max-width: 25.875rem;
    }
  }

  &__details {
    margin-top: 1.4rem;

    span {
      font-weight: 600;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-top: 1.5rem;

      li {
        width: 50%;
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;

        svg {
          width: 1.5625rem;
          height: 1.5rem;
          margin-right: 1.5rem;
        }

        span {
          font-weight: 500;
        }
      }
    }
  }

  .author {
    border-top: 2px solid $color-grey-1;
    padding-top: 2rem;
    margin-top: 0.6rem;

    @include respond(phone) {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto auto;
      align-items: center;
    }

    &__photo {
      width: 3.5rem;
      height: 3.5rem;

      @include respond(phone) {
        grid-column: 1;
        grid-row: 1 / span 2;
      }
    }

    &__name {
      margin-top: 0.1875rem;

      @include respond(phone) {
        grid-column: 2;
        grid-row: 1;
      }
    }

    &__location {
      margin-top: -1.25rem;

      @include respond(phone) {
        grid-column: 2;
        grid-row: 2;
      }
    }

    &__button {
      margin-top: 0.3125rem;

      @include respond(phone) {
        margin-top: 1.5rem;
        grid-column: 1 / span 2;
        grid-row: 3;

        button {
          width: 100%;
        }
      }

      svg {
        width: 0.9375rem;
        height: 1.25rem;
      }
    }
  }

  &__slider {
    margin-top: -1.75rem;

    @include respond(phone) {
      margin-top: 2rem;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      width: 3rem;
      height: 3rem;
    }
  }

  &__slider-main {
    max-width: 29.875rem;
    margin-left: auto;

    @include respond(phone) {
      max-width: 100%;
    }

    ul {
      height: 26rem;
    }

    li {
      cursor: pointer;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.2s ease;
        pointer-events: none;
      }

      &:hover:before {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__slider-thumbnail {
    margin-top: -2.5rem;

    .splide__track {
      overflow: visible;
    }

    .splide__track--nav > .splide__list > .splide__slide {
      width: 6rem;
      height: 5rem;
      border-radius: $border-radius / 2;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-white, 0.3);
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      &:hover:before {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.is-active {
        border: 0;
        width: 18.5rem;
        height: 10.5rem;
        margin-top: -5.5rem;

        @include respond(phone) {
          width: 6rem;
          height: 5rem;
          margin-top: 0;
        }
      }
    }
  }
}
